code[class*="language-"],
pre[class*="language-"] {
	color: #c6d0f5;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #292c3c;
}

/* https://prismjs.com/tokens.html */

.token.keyword {
	color: #ca9ee6;
}

.token.builtin {
	color: #e78284;
}

.token.class-name {
	color: #e5c890;
}

.token.function {
	color: #8caaee;
}

.token.boolean,
.token.number {
	color: #ef9f76;
}

.token.string,
.token.char {
	color: #a6d189;
}

.token.symbol {
	color: #e5c890;
}

.token.regex {
	color: #f4b8e4;
}

.token.url {
	color: #a6d189;
}

.token.operator {
	color: #99d1db;
}

.token.variable {
	color: #c6d0f5;
}

.token.constant {
	color: #ef9f76;
}

.token.property {
	color: #8caaee;
}

.token.punctuation {
	color: #949cbb;
}

.token.important {
	color: #ca9ee6;
}

.token.comment {
	color: #949cbb;
}

.token.tag {
	color: #8caaee;
}

.token.attr-name {
	color: #e5c890;
}

.token.attr-value {
	color: #a6d189;
}

.token.namespace {
	color: #e5c890;
}

.token.prolog,
.token.doctype {
	color: #ca9ee6;
}

.token.cdata {
	color: #81c8be;
}

.token.entity {
	color: #e78284;
}

.token.atrule {
	color: #ca9ee6;
}

.token.selector {
	color: #8caaee;
}

/* Diff */

.token.deleted {
	color: #e78284;
}

.token.inserted {
	color: #a6d189
}

/* Other */

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

